html, body {
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
    width: 100%;
}

header {
    height: 50px;
    width: 100%;
    background: #555b6e;
    color: white;
}

#main_content {
    height: calc(100% - 50px);
    width: 100%;
}

.sidebar {
    width: 60px;
    height: 100%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 10px 0;
}

.main_window {
    width: calc(100% - 60px);
    height: 100%;
}

.footer_menu {
    padding: 0 10px;
    font-weight: 300;
    font-size: 14px;
}

.icon_menu, .logout, .icon_menu_mob, .user_div_mob {
    cursor: pointer;
    color: black;
    width: 100%;
    height: 60px;
}

.active_menu {
    color: white !important;
    background-color: #89b0ae;
}

.content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.active_menu p {
    font-weight: 700;
}

.text_icon {
    font-weight: 400;
}

#sidebar_button, .logo, .img_user, .username, .footer_menu {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none !important;
    }

    .main_window {
        width: 100% !important;
    }
}

#mobile_menu {
    position: absolute;
    top: 50px;
    height: calc(100% - 120px);
    width: 100%;
}

.username {
    font-weight: 600;
    padding-left: 10px;
    font-size: 14px;
}

.back_window {
    padding: 15px;
    background-color: #faf9f9;
    height: calc(100% - 70px)
}

.content {
    background-color: white;
    border-radius: 15px;
    overflow: auto;
}

.footer {
    background-color: #555b6e;
    height: 70px;
    color: white
}

.footer_menu_back {
    font-size: 12px !important;
    font-weight: 100;
}

.footer_menu {
    font-size: 14px;
    font-weight: 300;
}

.shadow_part {
    width: 20px;
    background-color: black;
    opacity: 0.5
}